# Database Connection
DB_HOST=host.docker.internal
DB_PORT=5432              # port postgres di host
DB_USER=postgres          # username postgres
DB_PASSWORD=paste-your-password-db
DB_NAME=edupulse      # nama database

# Superset
SUPERSET_URL=http://localhost:8088
SUPERSET_USERNAME=admin
SUPERSET_PASSWORD=admin

# Airflow
AIRFLOW_URL=http://localhost:8080
AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow

# Gemini
GEMINI_API_KEY=your-gemini-api-key-here
GEMINI_MODEL=gemini-2.5-flash
